@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Georgian College<br />
    Barrie<br />
    <abbr title="Phone">P:</abbr>
    705.000.0000
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:honeyshah546@gmail.com">honeyshah546@gmail.com</a><br />
    <strong>College:</strong> <a href="mailto:Marketing@example.com">200374848@student.georgianc.on.ca</a>
</address>